<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
        <title>tiny URL</title>
    </head>
    <body>
        <div class="container-fluid text-center">
            <h1>tiny URL's</h1>
            <main id="app">
                <form @submit.prevent="createUrl()" class="my-4 form-inline">
                    <label for="original_url" class="sr-only">URL here</label>
                    <input required type="url" v-model="original_url" name="original_url" id="original_url" placeholder="URL" class="form-control col" autofocus>
                    <button type="submit" value="click" class="btn btn-light my-3" id="submit">tinyfy</button>
                </form>
                <div v-if="created">
                    <a :href="created">{{created}}</a>
                </div>
                <div v-if="error">
                    <p>{{error}}</p>
                </div>
            </main>
            <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
            <script src="app.js"></script>
        </div>
    </body> 
</html>
